#logo{

	background : url('.../food-logo.jpg') no-repeat;
	width: 200px;
	height: 140px;
   margin: 10px; 
   }
   .navbar-brand p{
   	font-weight: bold;
   	color: blue;
   	margin-top: 15px;
   	padding: 10px;
   	font-style: initial;
   	font-family: sans-serif;
   	
   	font-size: 2em;
   }
  
  #container{
  	text-align: center;
  	border: 3px solid blue;
  }