

#logo{

	background : url('food-logo.jpg') no-repeat;
	width: 100px;
	height: 100px;
   margin: 15px; 
   }
   .navbar-brand p{
   	font-weight: bold;
   	color: black;
   	margin-top: 25px;
   	padding: 10px;
   	font-style: italic;
   	font-family: sans-serif;
   	text-transform: uppercase;
   	font-size: 2.5em;
   	text-align: center;
   }
  
.menu{
	width: 450px;
	background-color: pink;
	font-weight: bold;
	margin: 15px;
	margin-left: 15px;
	margin-right: 5px;
	border: 3px solid black;
	padding: 15px;
}
.menu h2{
	font-weight: bold;
	color: blue;
	text-align: center;
	text-transform: uppercase;

}
.menu section{
	color:black ;
	text-align: middle;
}
.navbar-header button.navbar-toggle{
	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{
	clear: both;
}
#nav-list{
	margin-top: 35px;
	margin-right: 10px;
}
.nav-list a{
	text-align: center;
	clear: both;
	color: pink;
}

