#hr {
	text-align: center;
	color: blue;
	
}
#box{
	width: 25%;
    margin: 20px;
	padding: 5px;
    background-color: pink;
	border: 10px solid black;
	color: black;
	font-weight: bold;
	
	float: left;
}
#content{
	width:25%;
	margin: 20px;
	padding: 5px;
	background-color: grey;
	border: 10px solid black;
	color: black;
	
	font-weight: bold;
	
float: left;

}
#content1{
	width:25%;
	margin: 20px;
	background-color: skyblue;
	border: 10px solid black;
	color: black;
	padding: 5px;
	font-weight: bold;
	
	float: left;
}
#p1{
	width: 20%;
	margin: 10px;
	border:5px solid black;
	color: black;
	background-color: white;
   float: right;
}

#p2{
width: 20%;
	margin: 10px;
	border:5px solid black;
	color: black;
	background-color: white;
   float: right;
}
#p3
{
	width: 20%;
	margin: 10px;
	border:5px solid black;
	color: black;
	background-color: white;
   float: right;
}
@media (max-width: 600px) {

	div{
		width:50%;
		height: auto;
	}
}