#hr {
	text-align: center;
	color: blue;
	
}
#box{
	width: 300px;
    margin: 30px;
	padding: 15px;
    background-color: pink;
	border: 10px solid black;
	color: black;
	font-weight: bold;
	
	float: left;
}
#content{
	width:300px;
	margin: 30px;
	padding: 15px;
	background-color: grey;
	border: 10px solid black;
	color: black;
	
	font-weight: bold;
	
float: left;

}
#content1{
	width:300px;
	margin: 30px;
	background-color: skyblue;
	border: 10px solid black;
	color: black;
	padding: 15px;
	font-weight: bold;
	
	float: left;
}
#p1{
	width: 20%;
	margin: 10px;
	border:5px solid black;
	color: black;
	background-color: white;
   float: right;
}


#p2{
width: 20%;
	margin: 10px;
	border:5px solid black;
	color: black;
	background-color: white;
   float: right;
}
#p3
{
	width: 20%;
	margin: 10px;
	border:5px solid black;
	color: black;
	background-color: white;
   float: right;
   
}
#limit{

}

large device
@media (min-width: 1200px){
	#hr{
		width: 80%
	}
	#box{
		width: 80%
	}
	#content{width: 80%
}
#content1{
width: 80%
}
}
 medium device
@media(min-width: 768px) and (max-width: 991px){
	#hr{
		width: 50%
#box{
		width: 50%
	}
	#content{width: 50%
}
#content1{
width: 50%
}
}


/*extra small device*/
@media(max-width: 767px){
	#hr{
		width: 30%
	#box{
		width: 30%
	}
	#content{width: 30%
}
#content1{
width: 30%


}