#k{
	background-color: skyblue;
}
#header-nav a h1{
 color: black;
 text-transform: uppercase;
 opacity: 0.8;
 font-family: sans-serif;
 font-weight: bold;
 font-size: 3em;
 position: relative;
 margin-top: 30px;
 
}
#nav-list{
	color: grey;
	font-size: 1.5em;
	font-weight: bold;
	text-align: right;
}

#menu h1{
	font-style: italic;
	font-size: 25px;
	margin-top: 30px;
	color: grey;
	text-align: center;
	font-weight: bold;
}
#menu {
	width: 300px;
	color: blue;
	padding: 10px;
	overflow: auto;
    background-color: white;
	border:5px solid black;
	text-align: center ;
	margin: 30px;
	padding: 10px;
	margin-left: 50px;
}

