#k{
	background-color: skyblue;
}
#header-nav a h1{
 color: black;
 text-transform: uppercase;
 opacity: 0.8;
 font-family: sans-serif;
 font-weight: bold;
 font-size: 3em;
 position: relative;
 margin-top: 30px;
 
}
#nav-list{
	color: grey;
	font-size: 1.5em;
	font-weight: bold;
	text-align: right;
}

#menu h1{
	font-style: italic;
	font-size: 25px;
	margin-top: 30px;
	color: black;
	text-align: center;
	font-weight: bold;
}
#menu {
	width: 90%;

	color:black;
	padding: 10px;

    background-color: grey;
	border:5px solid black;
	text-align: center ;
	margin-top: 30px;
	margin-right: 50px;
	margin-left: 50px;
	padding: 10px;
	
}

#seafood{
	color: red;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}

.success {color:white;}





@media(min-width: 1200px){

#menu{
	width: 90%;
	margin-left: 75px;

}
@media(min-width:768px) and (max-width: 991px){
	
#menu {
	width: 50%;

	color: blue;
	padding: 10px;
	margin-left: 65px;
    background-color: white;
	border:5px solid black;
	text-align: center ;
	margin-top: 20px;
	padding: 10px;
	margin-left:50px;
	

}
}

@media(max-width: 767px) {
#menu {
	width: 30%;
	
		}